      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #panoContainer {
          position: fixed;
          width: 100%;
          top: 0;
          bottom: 0;
      }
      #pano {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .text {
        font-size: 50px;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        white-space: nowrap;
        overflow-x: scroll;
        width: 100%;
      }
      .text div {
        display: inline-block;
        margin-left: 100%;
        margin-right: 10px;
        position: relative;
        left: -100px;
        color: white;
        opacity: 0.8;
      }
      .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(24, 23, 33, 0.98);
        z-index: 1;
      }

      /* width */
::-webkit-scrollbar {
  height: 20px;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: url('./thumbbg.png');
  background-position: left;
  background-size: auto 20px;
  background-repeat: no-repeat;
}

#maganiakosVideo,
#sandpiperVideo {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: none;
}

#maganiakosVideo {
  animation: colorchange 2s;
  animation-iteration-count:infinite;
}

#sandpiperVideo {
  background: #52b7ff;
}

@keyframes colorchange
{
  0%   {background: red;}
  15%  {background: yellow;}
  30%  {background: white;}
  45%  {background: green;}
  60%  {background: white;}
  75%  {background: red;}
  100% {background: yellow;}
}

#oikopedoImg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 15s ease;
  display: none;
}

#treis {
  padding-right: 300px;
}

#treisImg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  text-align: center;
  width: 100%;
  background: hotpink;
}

#treisImg img {
  max-width: 100%;
  max-height: 100%;
  animation: rotate 4s;
  animation-fill-mode: forwards
}

@keyframes rotate
{
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(78deg);}
}